:root {
  ---primary-color-500: #93db17;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSerif";
  src: url("/fonts/SourceSerif4-Regular.ttf.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSerif";
  src: url("/fonts/SourceSerif4-Bold.ttf.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html {
  background-color: #0d393c;
  color: white;
  font-family: "SourceSerif", sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.header {
  width: 100%;
  color: white;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: white;

  .header-contact {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    div {
      a {
        color: #0d393c;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: #0d393c;
        font-weight: bold;
      }
    }
  }

  .header-logo {
    align-self: center;
  }
}

.navigation-links {
  display: flex;
  align-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: #061827;
  padding: 1rem;
  width: 100%;
}

.navigation-links a {
  display: block;
  color: white;
  text-decoration: none;
}

.navigation-links a:hover,
.navigation-links a:focus {
  color: var(---primary-color-500);
}

@media screen and (min-width: 636px) {
  .header-top {
    display: flex;
  }
}
