@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSerif";
  src: url("/fonts/SourceSerif4-Regular.ttf.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SourceSerif";
  src: url("/fonts/SourceSerif4-Bold.ttf.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

html {
  background-color: #ffffff;
  color: white;
  font-family: "SourceSerif", sans-serif;
}

.header {
  width: 100%;
  color: white;
  padding: 1rem;
  position: fixed;
  z-index: 10;
  top: 0;
  transition: background-color ease-in-out 0.5s;
}

.navegation {
  display: flex;
  align-items: center;
}

.navegation-links {
  align-self: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
  display: none;
}

.navegation-links a {
  display: block;
  color: #c4c49a;
  text-decoration: none;
}

.navegation-links a:hover,
.navegation-links a:focus {
  text-decoration: underline;
  color: #beb6b6;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #c4c49a;
}

.expanded {
  display: flex;
}

.header-scrolled {
  background-color: #072427;
}

@media screen and (min-width: 636px) {
  .navegation-links {
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  .hamburger {
    display: none;
  }
}
