---
import Layout from "../layouts/Layout.astro";
const pageTitle = "404 - Página no encontrada";
---

<Layout title={pageTitle}>
  <div
    class="h-screen place-content-center bg-white px-4 flex justify-center flex-col items-center gap-4"
  >
    <h
      class="uppercase tracking-widest text-gray-500 text-xl sm:text-2xl md:text-3xl lg:text-4xl"
    >
      404 | Página no encontrada
    </h>
  </div>
</Layout>
