---
interface Props {
  imgSrc: string;
  title: string;
}

const { imgSrc, title } = Astro.props;
---

<div
  class="bg-primary-400 rounded-md w-28 h-32 lg:w-52 lg:h-56 xl:w-60 xl:h-64 relative place-content-center group border-2 border-primary-500 shadow-md shadow-black"
>
  <img src={imgSrc} alt={title} width="300px" height="350px" />
  <div
    class="absolute top-0 bottom-0 bg-black bg-opacity-75 md:opacity-0 group-hover:opacity-100 w-full flex items-center justify-center ease-in-out duration-300"
  >
    <h3
      class="text-primary-400 text-xs sm:text-sm md:text-base lg:text-xl text-pretty text-center xl:text-2xl font-inter"
    >
      {title}
    </h3>
  </div>
</div>
