---
import { Icon } from "astro-icon/components";

const carouselData = [
  {
    id: 1,
    image: "bg-[url('/img/fondo-pan.webp')]",
    title: "Sano y delicioso",
    description: "Tu pan preferido siempre cerca",
  },
  {
    id: 2,
    image: "bg-[url('/img/fondo-yogurt.jpg')]",
    title: "Fresco y natural",
    description: "El yogurt te da la energía que necesitas",
  },
];
---

<style>
  .slider-container {
    position: relative;
    height: 60vh;
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    height: 100%;
  }

  .slide {
    flex: 0 0 auto;
    width: 100%;
    border-image: fill 1
      linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
  }

  .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  #next {
    right: 10px;
  }

  #prev {
    left: 10px;
  }

  @media (width >= 640px) {
    .slider-container {
      position: relative;
      height: 70vh;
    }
  }

  @media (width >= 768px) {
    .slider-container {
      height: 80vh;
    }
  }

  @media (width >= 1024px) {
    .slider-container {
      height: 100vh;
    }
  }
</style>

<section class="slider-container wrapper">
  <div class="slider">
    {
      carouselData.map((item) => (
        <article
          class={`slide ${item.image} flex flex-col justify-center items-center`}
        >
          <header>
            <p class="uppercase text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl text-pretty text-secondary-500 font-bold">
              {item.title}
            </p>
          </header>
          <h1 class="text-lg sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-pretty text-white">
            {item.description}
          </h1>
        </article>
      ))
    }

    <Icon
      name="right-arrow"
      class="button size-11 sm:size-14 md:size-20"
      id="next"
    />
    <Icon
      name="left-arrow"
      class="button size-11 sm:size-14 md:size-20"
      id="prev"
    />
  </div>
</section>

<script>
  const startSlider = () => {
    const $slider = document.querySelector(".slider") as HTMLElement;
    const $slides = document.querySelectorAll(
      ".slide"
    ) as NodeListOf<HTMLElement>;
    const $nextButton = document.getElementById("next") as HTMLElement;
    const $prevButton = document.getElementById("prev") as HTMLElement;

    let currentIndex = 0;

    const updateSliderPosition = (direction: number) => {
      const currentImgWidth = $slides[0].clientWidth;
      $slider.scrollBy({
        left: direction * currentImgWidth,
        behavior: "smooth",
      });
    };

    $nextButton.addEventListener("click", () => {
      if (currentIndex < $slides.length - 1) {
        currentIndex++;
        updateSliderPosition(1);
      } else {
        currentIndex = 0;
        $slider.scrollTo({ left: 0, behavior: "smooth" });
      }
    });

    $prevButton.addEventListener("click", () => {
      if (currentIndex > 0) {
        currentIndex--;
        updateSliderPosition(-1);
      } else {
        currentIndex = $slides.length - 1;
        $slider.scrollTo({
          left: $slides[currentIndex].clientWidth * currentIndex,
          behavior: "smooth",
        });
      }
    });
  };

  document.addEventListener("astro:after-swap", startSlider);
  startSlider();
</script>
