---
const { dividerBackground = "#0d393c" } = Astro.props;

interface Props {
  dividerBackground: string;
}

const backgroundColor = dividerBackground;
---

<style define:vars={{ backgroundColor }}>
  .divider {
    width: 200px;
    height: 5px;
    background-color: var(--backgroundColor);
    margin: 0 auto 20px auto;
  }
</style>

<div class="divider"></div>
