---
import SocialMedia from "./SocialMedia.astro";
---

<style>
  footer {
    color: white;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
    margin-top: auto;
  }
</style>

<footer class="bg-tertiary-900">
  <h4 class="uppercase font-bold text-white font-oswald p-4 pb-6">
    Comunícate con nosotros
  </h4>
  <SocialMedia />
</footer>
