---
import Navigation from "./Navigation.astro";
import HeaderTop from "./HeaderTop.astro";

const links = [
  { href: "/", text: "Inicio" },
  { href: "/products", text: "Productos" },
  { href: "/blog", text: "Blog" },
];

const contact = [
  {
    id: 1,
    icon: "phone",
    title: "Teléfono",
    text: "+57 312 345 6789",
    href: "tel:+573123456789",
  },
  {
    id: 2,
    icon: "email",
    title: "Correo",
    text: "bohemiancoffee24@gmail.com",
    href: "mailto:bohemiancoffee24@gmail.com",
  },
];
---

<header class="header">
  <!-- Desktop -->
  <nav class="navigation">
    <HeaderTop contact={contact} />
    <Navigation links={links} />
  </nav>
</header>

<script>
  const handleHeaderChange = () => {
    let $wrapper = document.querySelector(".wrapper") as HTMLElement;
    let $navigationLinks = document.querySelector(
      ".navigation-links"
    ) as HTMLElement;

    let observerOptions = {
      root: null,
      threshold: 0.5,
    };

    if (!$wrapper || !$navigationLinks) return;

    let observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          $navigationLinks.classList.remove("fixed", "z-20");
        } else {
          $navigationLinks.classList.add("fixed", "z-20");
        }
      });
    }, observerOptions);

    observer.observe($wrapper);
  };
  handleHeaderChange();

  document.addEventListener("astro:after-swap", () => {
    handleHeaderChange();
  });
</script>
