---
import Logo from "./Logo.astro";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";

const links = [
  { href: "/", text: "Inicio" },
  { href: "/contact", text: "Contacto" },
];
---

<header class="header">
  <nav class="navegation">
    <Logo />
    <Hamburger />
    <Navigation links={links} />
  </nav>
</header>

<script>
  let $wrapper = document.querySelector(".wrapper") as HTMLElement;
  let $header = document.querySelector(".header") as HTMLElement;

  let observerOptions = {
    root: null,
    threshold: 0.9,
  };

  let observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      $header?.classList.toggle("header-scrolled", !entry.isIntersecting);
    });
  }, observerOptions);

  observer.observe($wrapper);
</script>
