---
import Divider from "./Divider.astro";
---

<style>
  .line {
    width: 200px;
    height: 5px;
    background-color: #0d393c;
    margin: 0 auto 20px auto;
  }
</style>

<section class="bg-primary-500 min-h-72 flex-col items-center flex gap-y-4">
  <h3 class="text-secondary-500 mt-4 text-xl">Ideas para el Yogurt</h3>
  <h3 class="text-secondary-500 text-2xl">¿Cuál vas a elegir hoy?</h3>
  <Divider dividerBackground="#0d393c" />
</section>
