---
import Divider from "./Divider.astro";

const productIdeas = [
  {
    id: 1,
    title: "Pollo Marinado",
    description:
      "Combina el sabor cremoso y ligeramente ácido del yogurt griego con especias como el comino, la cúrcuma y el ajo para marinar pollo. El yogurt no solo añade sabor, sino que también ayuda a ablandar la carne, haciéndola más jugosa y tierna. Ideal para parrillas o asados.",
  },
  {
    id: 2,
    title: "Dip de Yogurt Griego y Hierbas",
    description:
      "Mezcla yogurt griego con una variedad de hierbas frescas como eneldo, perejil y menta, junto con ajo y un toque de limón. Este dip es perfecto para acompañar vegetales crudos, papas fritas o incluso como aderezo para ensaladas, aportando un sabor fresco y cremoso.",
  },
  {
    id: 3,
    title: "Parfait de Yogurt Griego y Granola",
    description:
      "Crea capas de yogurt griego con frutas frescas y granola crujiente. El yogurt griego aporta una base rica y cremosa que contrasta con la dulzura de la fruta y la textura crocante de la granola. Es una opción ideal para desayunos rápidos o un postre ligero.",
  },
  {
    id: 4,
    title: "Smoothie Verde",
    description:
      "Añade yogurt griego a tu smoothie verde para darle una textura más cremosa y un aporte extra de proteínas. Combina espinacas, plátano, manzana y un poco de miel con yogurt griego para un smoothie nutritivo, con un sabor equilibrado entre dulce y fresco.",
  },
];
---

<section
  class="bg-primary-500 min-h-72 flex-col items-center flex gap-y-4 p-4 pb-10"
>
  <h3
    class="text-secondary-500 mt-4 text-sm md:text-base lg:text-lg xl:text-xl uppercase"
  >
    Nuestro yogurt
  </h3>
  <h3
    class="text-secondary-500 text-base md:text-lg lg:text-xl xl:text-2xl font-bold uppercase"
  >
    ¿Con qué vas a combinarlo hoy?
  </h3>
  <Divider dividerBackground="#0d393c" />

  <div class="grid-cols-1 md:grid-cols-3 grid gap-4">
    <article class="space-y-4">
      {
        productIdeas.slice(0, 2).map((idea) => (
          <section>
            <h4 class="text-base md:text-lg uppercase text-secondary-500 font-bold font-inter">
              {idea.title}
            </h4>
            <p class="text-xs md:text-sm text-secondary-600 font-inter text-pretty">
              {idea.description}
            </p>
          </section>
        ))
      }
    </article>
    <img src="/img/yogurt-ideas.jpg" alt="" class="rounded-md" width="500px" />
    <article class="space-y-4">
      {
        productIdeas.slice(2).map((idea) => (
          <section>
            <h4 class="text-base md:text-lg uppercase text-secondary-500 font-bold font-inter">
              {idea.title}
            </h4>
            <p class="text-xs md:text-sm text-secondary-600 font-inter text-pretty">
              {idea.description}
            </p>
          </section>
        ))
      }
    </article>
  </div>
</section>
