---

---

<a href="/" class="header-logo">
  <img
    class="hover:scale-105 transition-transform duration-300 ease-in-out w-16 cursor-pointer sm:block hidden mx-auto"
    src="/img/bohemian-logo-blanco.webp"
    alt="Logo de Bohemian"
  />
</a>
