---

---

<a href="/">
  <img
    class="hover:scale-105 transition-transform duration-300 ease-in-out w-16 cursor-pointer sm:block hidden"
    src="/img/bohemian-logo-blanco.webp"
    alt="Logo de Bohemian"
  />
</a>
