---
import Card from "./Card.astro";
import productItems from "../data/productItems";
---

<section class="bg-white flex flex-row items-center gap-y-4 overflow-auto">
  {
    productItems.map((product) => (
      <Card
        title={product.title}
        imgSrc={product.screenshots[0].src}
        productName={product.productName}
        price={product.info[1].description}
      />
    ))
  }
</section>
