---
interface Props {
  title: string;
  image: string;
}

const { title, image } = Astro.props;
---

<div
  class="flex md:flex-row flex-col justify-center items-center bg-secondary-500 mt-10 wrapper gap-8"
>
  <h1
    class="text-primary-700 text-7xl md:text-8xl lg:text-9xl uppercase mt-0 text-center"
  >
    {title}
  </h1>
  <img
    src={image}
    alt=`${title} Hero`
    width="450px"
    class="md:w-80 lg:w-96 sm:w-72 w-60 order-first md:order-last self-center md:self-start"
  />
</div>
