---
import { Icon } from "astro-icon/components";

const socialMedia = [
  { name: "instagram", url: "https://instagram.com/" },
  { name: "whatsapp", url: "https://whatsapp.com/" },
];
---

<style>
  .social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>

<div class="social-media">
  {
    socialMedia.map((social) => (
      <a href={social.url}>
        <Icon
          name={social.name}
          class="size-12 hover:text-secondary-500 transition-colors duration-300 ease-in-out"
        />
      </a>
    ))
  }
</div>
