---
const whatsappNumber = "+1234567890";
/* const whatsappText = "Nuestro WhatsApp"; */
---

<span
  class="p-2 bg-secondary-700 border-2 border-primary-600 text-black rounded-md w-fit fixed bottom-4 right-4 hover:scale-110 transition-transform duration-300 ease-in-out"
>
  <a
    href={`https://wa.me/${whatsappNumber}`}
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      src="/img/whatsappinfo.webp"
      alt="WhatsApp"
      class="w-20 sm:w-24 md:w-28 lg:w-32"
    />
  </a>
</span>
