---
import { Icon } from "astro-icon/components";

const whatsappNumber = "+1234567890";
/* const whatsappText = "Nuestro WhatsApp"; */
---

<a
  href={`https://wa.me/${whatsappNumber}`}
  target="_blank"
  rel="noopener noreferrer"
  class="p-2 bg-secondary-600 border-2 border-black text-black rounded-md w-fit fixed bottom-4 right-4 hover:scale-110 transition-colors duration-500 ease-in-out hover:bg-white group"
>
  <Icon
    name="whatsapp"
    class="size-8 md:size-10 lg:size-12 text-white group-hover:text-secondary-600 transition-colors duration-500 ease-in-out"
  />
</a>
