---
import Divider from "../../components/Divider.astro";
import ProductCard from "../../components/ProductCard.astro";
import ProductHero from "../../components/ProductHero.astro";
import Layout from "../../layouts/Layout.astro";
const breads = [
  {
    type: "Pan de Campo",
    image: "/img/pan.png",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, ea, quisquam incidunt eligendi maxime perspiciatis vero rerum, molestias ipsam inventore tenetur hic modi harum cupiditate mollitia voluptas odit culpa laborum?",
  },
  {
    type: "Pan de Semillas",
    image: "/img/pan-semillas.png",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, ea, quisquam incidunt eligendi maxime perspiciatis vero rerum, molestias ipsam inventore tenetur hic modi harum cupiditate mollitia voluptas odit culpa laborum?",
  },
];
---

<Layout title="Panes - Bohemian - Coffee & Breads">
  <ProductHero title="Panes" image="/img/panes.webp" />
  <div
    class="grid grid-cols-1 md:grid-cols-2 mx-auto gap-4 bg-primary-500 p-10"
  >
    {
      breads.map((bread) => (
        <ProductCard
          title={bread.type}
          image={bread.image}
          description={bread.description}
        />
      ))
    }
  </div>
</Layout>
