---
import Divider from "../../components/Divider.astro";
import OurProducts from "../../components/OurProducts.astro";
import ProductCard from "../../components/ProductCard.astro";
import ProductHero from "../../components/ProductHero.astro";
import Layout from "../../layouts/Layout.astro";
const yogurts = [
  {
    type: "Griego",
    image: "/img/yogurt-griego.png",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, ea, quisquam incidunt eligendi maxime perspiciatis vero rerum, molestias ipsam inventore tenetur hic modi harum cupiditate mollitia voluptas odit culpa laborum?",
  },
];
---

<Layout title="Yogures - Bohemian - Coffee & Breads">
  <ProductHero title="Yogures" image="/img/panes.webp" />
  <div
    class="grid grid-cols-1 md:grid-cols-2 mx-auto gap-4 bg-primary-500 p-10"
  >
    {
      yogurts.map((yogurt) => (
        <ProductCard
          title={yogurt.type}
          image={yogurt.image}
          description={yogurt.description}
        />
      ))
    }
  </div>
  <OurProducts currentProduct="Yogures" />
</Layout>
