---
import Divider from "../../components/Divider.astro";
import OurProducts from "../../components/OurProducts.astro";
import ProductCard from "../../components/ProductCard.astro";
import ProductHero from "../../components/ProductHero.astro";
import Layout from "../../layouts/Layout.astro";
const yogurts = [
  {
    type: "Griego",
    image: "/img/yogurt-griego.png",
    description:
      "Delicioso yogur griego especial para acompañar tus desayunos o meriendas. ¡No te lo pierdas!",
    info: [
      {
        title: "Presentación",
        description: "Envase de 1 kg.",
      },
      {
        title: "Precio",
        description: "$4000",
      },
    ],
  },
];
---

<Layout title="Yogures - Bohemian - Coffee & Breads">
  <ProductHero title="Yogures" image="/img/yogures-hero.webp" />
  <div
    class="grid grid-cols-1 md:grid-cols-2 mx-auto gap-4 bg-primary-500 p-10"
  >
    {
      yogurts.map((yogurt) => (
        <ProductCard
          title={yogurt.type}
          image={yogurt.image}
          description={yogurt.description}
          info={yogurt.info}
        />
      ))
    }
  </div>
  <OurProducts currentProduct="Yogures" />
</Layout>
