---
import Layout from "./Layout.astro";
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
  tags: string[];
  short_description: string;
  category: string;
  cover: string;
}>;

const { frontmatter } = Astro.props;

const titlePage = `${frontmatter.title} - Bohemian - Coffee & Breads`;
---

<style>
  body {
    background-color: #007a4a;
  }
</style>

<Layout title={titlePage}>
  <article
    class="prose container mx-auto bg-white md:max-w-3xl lg:max-w-4xl xl:max-w-5xl p-4 md:p-8 lg:p-12 xl:p-16 rounded-md shadow-lg shadow-black my-4 border border-primary-400 font-oswald md:prose-lg lg:prose-xl xl:prose-2xl text-black prose-h2:text-tertiary-500 prose-h1:text-secondary-600 prose-h3:text-tertiary-400 prose-h4:text-tertiary-400 prose-h5:text-tertiary-400 prose-h6:text-tertiary-400 prose-strong:text-tertiary-400"
  >
    <p class="text-sm text-gray-500">
      Publicado por <span class="font-bold">{frontmatter.author}</span>
    </p>
    <p class="text-sm text-gray-500">
      Fecha de publicación: {frontmatter.date}
    </p>
    <slot />
  </article>
</Layout>
